body {
    margin: 0;
    font-family: Arial, sans-serif;
}



header {
    padding: 10px;
    background-color: #000;
}

.navbar {
    background-color: #000;
    color: #fff;
}


.navbar-brand {
    color: #fff;
    font-weight: bold;
}


.navbar-nav .nav-item .nav-link {
    color: #fff;
}


.alphabet-nav {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding: 10px;
    background-color: #000;
    color: #fff;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    position: absolute;
    width: 100%;
}


.alphabet-letter {
    cursor: pointer;
    padding: 8px;
    border-radius: 5px;
    background-color: #333;
}

    .alphabet-letter:hover {
        background-color: #555;
    }

