

/*ícones */
.icons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.icon {
    text-align: center;
    cursor: pointer;
    position: relative; /* Adicionado para o efeito de sobreposição das imagens */
}

    .icon img {
        width: 80px; 
        height: auto;
        filter: none; /* Mantendo as imagens coloridas inicialmente */
        transition: filter 0.3s; /* Adicionando uma transição suave para a mudança da imagem */
    }

    /* Efeito ao passar o mouse sobre o ícone */
    .icon:hover img {
        filter: grayscale(100%); /* Convertendo para preto e branco */
    }






/*banner*/

header {
    padding: 10px 200px;
    background-color: #eafdfc;
}

.banner-frase1, .banner-frase2{
    margin-left:100px;
    
}

.banner-frase1 {
    margin-top: 50px;
}


/*barra alfabetica*/
.alphabet-nav {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding: 10px;
    background-color: #000;
    color: #fff;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    position: absolute;
    width: 100%;
}

.alphabet-letter {
    cursor: pointer;
    padding: 18px;
    border-radius: 5px;
    background-color: #333;
    font-weight: 800;
}

    .alphabet-letter:hover {
        background-color: #555;
    }

/* Estilos para a barra alfabética quando estiver fixa no topo */
.alphabet-nav.fixed {
    position: fixed;
    top: 0;
    z-index: 1000; /* Certifique-se de que a barra alfabética fique sobreposta a outros elementos */
}

/* Estilos para a navbar quando estiver fixa no topo */
.navbar.fixed {
    display: none; /* Esconde a navbar quando estiver fixa no topo */
}


/* Estilize o container principal */
#container {
    display: flex;
    align-items: center; /* Alinha verticalmente ao centro */
    justify-content: center;
    margin-bottom: 5px;
}

/* Estilize o menu de opções */
#opcoes {
    width: 85%;
    font-size: 17px;
}

/* Estilize as estrelas */
.estrela {
    cursor: pointer;
    font-size: 17px; /* Ajuste o tamanho conforme necessário */
}







@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.row {
    margin-left: 10px;
    margin-top: 10px;
    display: flex; /* Adicione a propriedade flex para permitir que as estruturas se alinhem lado a lado */
    flex-wrap: wrap; /* Adicione a propriedade wrap para que as estruturas quebrem para a próxima linha */
}

.estruturaPai {
    height: 110px;
    width: 400px;
    border: 1px solid;
    display: flex;
    margin-bottom: 20px;
    border-radius: 5px;
    margin-right: 10px; /* Adicione margem à direita para criar espaço entre as estruturas */
}

.estruturaIMG {
    cursor: pointer;
}

.linkImagem {
    height: 110px;
    width: 150px;
}

.estrutura {
    height: 110px;
    width: 250px;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
}

.titulo, .link {
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 5px;
}
